:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Source Sans Pro", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #1a1f24; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #485664; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #0ea2bd; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #485664; /* The default color of the main navmenu links */
  --nav-hover-color: #0ea2bd; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #485664; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #0ea2bd; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #eef0f2;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #3a4753;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #4f6171;
  --contrast-color: #ffffff;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
/* start of navication  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
.nav ul {
  /* display: none; */
  list-style-type: none;
}
.nav .menu {
  position: absolute;
  background: red;
  top: 10%;
  width: 90%;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  list-style: none;
  border-radius: 5px;
}
.nav .menu li {
  margin-top: 1rem;
}
@media screen and (min-width: 769px) {
  body {
    background: blue;
  }
  .open,
  .close {
    display: none;
  }
  .nav .menu ul {
    display: flex;
  }
  .nav .menu {
    position: static;
    /* background: red; */
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    list-style: none;
    border-radius: 5px;
    width: fit-content;
    order: 2;
  }
  .nav .menu li {
    margin-top: 0;
    margin-left: 1rem;
  }
  .parent {
    order: 4;
  }
}
/* 
 ******************************************************* *******************************************************
*/

